$font1: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font2: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$size1: 24px;
$line1: 1.4em;
$size2: 12px;
$line2: 1.5em;
$size3: 34px;
$line3: 1.5em;

$size1-mobile: 20px;
$line1-mobile: 1.4em;
$size2-mobile: 12px;
$line2-mobile: 1.5em;
$size3-mobile: 26px;
$line3-mobile: 1.5em;

$size1-xl: 22px;
$line1-xl: 1.5em;
$size2-xl: 16px;
$line2-xl: 1.4em;
$size3-xl: 15px;
$line3-xl: 1.5em;

$margin:5vw;
$margin-mobile:20px;
$margin-xl:40px;